{{ header }}
<div id="information-information" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% else %}
		{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1>{{ h1_title }}</h1>
			<div class="galleries">
			{% if galleries_description is defined and galleries_description is not empty %}
				<div class="gallery_description">{{ galleries_description }}</div>
			{% endif %}
			<div class="center">
			{% for key, gallery in galleries %}
				<div class="{{ bootstrap_grid }} gallery_cover">
					<a class="transition thumbnail" href="{{ gallery['gallery_link'] }}">
						<img src="{{ gallery['gallery_data']['cover_image']['thumb'] }}" width="{{ config_cover_image_width }}" height="{{ config_cover_image_height }}" alt="{{ gallery['gallery_name'] }}" />
						<span>{{ gallery['gallery_name'] }}</span>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
{{ content_bottom }}</div>
{{ column_right }}</div>
</div>
{{ footer }}