{{ header }}{{ column_left }}
<div id="content">
<style>
	.additional_image {
		width: 200px;
		background: #fff;
		min-height: 187px;
		display: inline-block;
		overflow: hidden;
	}
	.additional_image span.remove {
		cursor: pointer;
	}
	#add_image_zone {
		cursor: pointer;
	}
	#add_image_zone a span {
		text-align: center;
		display: block;
		margin-top: 5%;
		font-size: 110pt;
	}
	#add_image_zone a {
		color: #666;
	}
	.grid_wrapper{
		display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
	}
	.bootstrap_grid_table .img-responsive{
		display:inline-block;
		max-width:10em;
	}
</style>
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-setting" data-toggle="tooltip" title="{{ button_text_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_text_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="panel">
			<ul class="nav nav-pills">
				<li role="presentation" class="active"><a href="{{ link_section_gallery_list }}"><i class="fa fa-list fa-fw"></i> {{ text_section_gallery_list }}</a></li>
				<li role="presentation"><a href="{{ link_section_modules }}"><i class="fa fa-puzzle-piece fa-fw"></i> {{ text_section_modules }}</a></li>
				<li role="presentation"><a href="{{ link_section_settings }}"><i class="fa fa-cog fa-fw"></i> {{ text_section_settings }}</a></li>
			</ul>
		</div>
		
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ gallery_id is empty ? save : edit }}" method="post" enctype="multipart/form-data" id="form-setting" class="form-horizontal">
				<input type="hidden" name="gallery_id" id="gallery_id" value="{{ gallery_id }}">
					<ul class="nav nav-tabs">
						 <li class="active"><a href="#tab_general" data-toggle="tab">{{ tab_general }}</a></li>
						 <li class=""><a href="#tab_data" data-toggle="tab">{{ tab_data }}</a></li>
					</ul>
					<div class="tab-content">
				 <div class="tab-pane active" id="tab_general">

			<div class="form-group required">
				<label class="col-sm-2 control-label" for="gallery_data_gallery_name">{{ entry_gallery_name }}</label>
				<div class="col-sm-10">
				{% for language in languages %}
					<div class="input-group">
						<span class="input-group-addon">{{ language['html_image'] }}</span>
						<input type="text" name="gallery_data[gallery_name][{{ language['language_id'] }}]" value="{{ gallery_data['gallery_name'][language['language_id']] }}" placeholder="{{ entry_gallery_name }}" id="gallery_data_gallery_name" class="form-control" />
					</div>
					<br>
					{% endfor %}
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label" for="gallery_data[gallery_seo_url]"><span data-toggle="tooltip" title="{{ entry_gallery_seo_name_help }}">{{ entry_gallery_seo_name }}</span></label>
				<div class="col-sm-10">
					<input type="text" name="gallery_data[gallery_seo_url]" value="{{ gallery_data['gallery_seo_url'] }}" placeholder="{{ entry_gallery_seo_name }}" id="gallery_data[gallery_seo_url]" class="form-control" />
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label" for="gallery_data[js_lib_type]">{{ entry_js_library }}</label>
				<div class="col-sm-10">
					<select name="gallery_data[js_lib_type]" id="gallery_data[js_lib_type]" class="form-control">
					{% for key, value in arr_js_lib_types %}
						{% if key == gallery_data['js_lib_type'] %}
						<option value="{{ key }}" selected="selected">{{ value }}</option>
						{% else %}
						<option value="{{ key }}">{{ value }}</option>
						{% endif %}
					{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group required">
				<label class="col-sm-2 control-label">{{ entry_store }}</label>
				<div class="col-sm-10">
					<div class="well well-sm" style="height: 150px; overflow: auto;">
						{% for store in stores %}
						<div class="checkbox">
							<label>
							{% if (store['store_id'] in gallery_data['stores']) or (stores|length <= 1) %}
								<input type="checkbox" name="gallery_data[stores][]" value="{{ store['store_id'] }}" checked="checked" />
								{{ store['name'] }}
								{% else %}
								<input type="checkbox" name="gallery_data[stores][]" value="{{ store['store_id'] }}" />
								{{ store['name'] }}
								{% endif %}
							</label>
						</div>
						{% endfor %}
					</div>
				<a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
				{% if error_stores %}
				<div class="text-danger">{{ error_stores }}</div>
				{% endif %}
				</div>
			</div>

			<div class="form-group required">
				<label class="col-sm-2 control-label" for="sort_order">{{ entry_sort_order }}</label>
				<div class="col-sm-10">
					<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="sort_order" class="form-control" />
				</div>
			</div>

			<div class="form-group required">
				<label class="col-sm-2 control-label" for="enabled"><span data-toggle="tooltip" title="{{ entry_gallery_status_help }}">{{ entry_gallery_status }}</span></label>
				<div class="col-sm-10">
					<select name="enabled" id="enabled" class="form-control">
						{% for key, value in arr_enabled %}
						{% if key == enabled %}
						<option value="{{ key }}" selected="selected">{{ value }}</option>
						{% else %}
						<option value="{{ key }}">{{ value }}</option>
						{% endif %}
					{% endfor %}
					</select>
				</div>
			</div>

			<fieldset>
			<legend>{{ text_gallery_page_settings }}</legend>

			<div class="form-group ">
				<label class="col-sm-2 control-label" for="gallery_data[photos_limit]"><span data-toggle="tooltip" title="{{ entry_gallery_photos_limit_help }}">{{ entry_gallery_photos_limit }}</span></label>
				<div class="col-sm-10">
					<input type="text" name="gallery_data[photos_limit]" value="{{ gallery_data['photos_limit'] }}" placeholder="{{ entry_gallery_photos_limit }}" id="gallery_data[photos_limit]" class="form-control" />
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label">{{ entry_gallery_show_limiter }}</label>
				<div class="col-sm-10">
					<label class="radio-inline">
						{% if gallery_data['show_limiter'] %}
						<input type="radio" name="gallery_data[show_limiter]" value="1" checked="checked" />
						{{ text_yes }}
						{% else %}
						<input type="radio" name="gallery_data[show_limiter]" value="1" />
						{{ text_yes }}
						{% endif %}
					</label>
					<label class="radio-inline">
						{% if not gallery_data['show_limiter'] %}
						<input type="radio" name="gallery_data[show_limiter]" value="0" checked="checked" />
						{{ text_no }}
						{% else %}
						<input type="radio" name="gallery_data[show_limiter]" value="0" />
						{{ text_no }}
						{% endif %}
					</label>
				</div>
			</div>

			<div class="form-group required">
				<label class="col-sm-2 control-label" for="gallery_data[thumb_width]">{{ entry_thumb_size }}</label>
				<div class="col-sm-10">
					<div class="row">
						<div class="col-sm-6">
							<input type="text" name="gallery_data[thumb_width]" value="{{ gallery_data['thumb_width'] }}" placeholder="{{ entry_thumb_size }}" id="gallery_data[thumb_width]" class="form-control" />
						</div>
						<div class="col-sm-6">
							<input type="text" name="gallery_data[thumb_height]" value="{{ gallery_data['thumb_height'] }}" placeholder="{{ entry_thumb_size }}" id="gallery_data[thumb_height]" class="form-control" />
						</div>
					</div>
					{% if error_thumb_image_dimensions %}
					<div class="text-danger">{{ error_thumb_image_dimensions }}</div>
					{% endif %}
				</div>
			</div>

			<div class="form-group required">
				<label class="col-sm-2 control-label" for="gallery_data[popup_width]">{{ entry_popup_size }}</label>
				<div class="col-sm-10">
					<div class="row">
						<div class="col-sm-6">
							<input type="text" name="gallery_data[popup_width]" value="{{ gallery_data['popup_width'] }}" placeholder="{{ entry_popup_size }}" id="gallery_data[popup_width]" class="form-control" />
						</div>
						<div class="col-sm-6">
							<input type="text" name="gallery_data[popup_height]" value="{{ gallery_data['popup_height'] }}" placeholder="{{ entry_popup_size }}" id="gallery_data[popup_height]" class="form-control" />
						</div>
					</div>
					{% if error_thumb_image_dimensions %}
					<div class="text-danger">{{ error_thumb_image_dimensions }}</div>
					{% endif %}
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label">{{ entry_show_gallery_gallery_description }}</label>
				<div class="col-sm-10">
					<label class="radio-inline">
						{% if gallery_data['show_gallery_description'] %}
						<input type="radio" name="gallery_data[show_gallery_description]" value="1" checked="checked" />
						{{ text_yes }}
						{% else %}
						<input type="radio" name="gallery_data[show_gallery_description]" value="1" />
						{{ text_yes }}
						{% endif %}
					</label>
					<label class="radio-inline">
						{% if not gallery_data['show_gallery_description'] %}
						<input type="radio" name="gallery_data[show_gallery_description]" value="0" checked="checked" />
						{{ text_no }}
						{% else %}
						<input type="radio" name="gallery_data[show_gallery_description]" value="0" />
						{{ text_no }}
						{% endif %}
					</label>
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ entry_use_lazyload_help }}">{{ entry_use_lazyload }}</span></label>
				<div class="col-sm-10">
					<label class="radio-inline">
						{% if gallery_data['use_lazyload'] %}
						<input type="radio" name="gallery_data[use_lazyload]" value="1" checked="checked" />
						{{ text_yes }}
						{% else %}
						<input type="radio" name="gallery_data[use_lazyload]" value="1" />
						{{ text_yes }}
						{% endif %}
					</label>
					<label class="radio-inline">
						{% if not gallery_data['use_lazyload'] %}
						<input type="radio" name="gallery_data[use_lazyload]" value="0" checked="checked" />
						{{ text_no }}
						{% else %}
						<input type="radio" name="gallery_data[use_lazyload]" value="0" />
						{{ text_no }}
						{% endif %}
					</label>
				</div>
			</div>

			</fieldset>
			<!-- // Bootstrap category grid settings -->
			<fieldset>
				<legend>{{ text_grid_settings }}</legend>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-grid_columns_count">{{ entry_bootstrap_grid }}</label>
					<div class="col-sm-10">
						<table class="table table-bordered table-striped bootstrap_grid_table">
							<tbody>
								<tr>
									<td class="text-center"><img src="view/image/bootstrap_grid/extra_small.png" class="img-responsive" alt=""><br>
										Extra small [None(auto)]</td>
									<td class="text-center"><img src="view/image/bootstrap_grid/small.png" class="img-responsive" alt=""><br>
										Small [750px]</td>
									<td class="text-center"><img src="view/image/bootstrap_grid/medium.png" class="img-responsive" alt=""><br>
										Medium [970px]</td>
									<td class="text-center"><img src="view/image/bootstrap_grid/large.png" class="img-responsive" alt=""><br>
										Large [1170px]</td>
								</tr>
								<tr class="values" style="background:#efefef;">
									{% for prefix, value in gallery_data['bootstrap_grid'] %}
										<td class="text-center">
											<div class="btn-group" role="group" data-toggle="buttons">
												{% for bcol, col in bootstrap_grid_to_cols %}
													<label class="btn btn-sm{{ bcol == 0 ? ' btn-success' : ' btn-primary' }}{{ value == bcol ? ' active' : '' }}">
														<input type="radio" name="gallery_data[bootstrap_grid][{{ prefix }}]" value="{{ bcol }}" autocomplete="off" {{ value == bcol ? 'checked' : '' }}>{{ bcol == 0 ? 'auto' : col }}
													</label>
												{% endfor %}
											</div>
										</td>
									{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>

		<fieldset>
		<legend>{{ text_gallery_data }}</legend>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="gallery_data_cover_image">{{ entry_cover_image }}</label>
				<div class="col-sm-10">
					<a href="#" id="thumb-image" data-toggle="image" class="img-thumbnail">
						<img src="{{ gallery_data['cover_image']['thumb'] }}" data-placeholder="{{ no_image }}" />
					</a>
					<input type="hidden" name="gallery_data[cover_image][image]" value="{{ gallery_data['cover_image']['image'] }}" id="input-image" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="gallery_type">{{ entry_gallery_type }}</label>
				<div class="col-sm-10">
					<select name="gallery_type" id="gallery_type" class="form-control">
						{% for key, value in gallery_types %}
						{% if key == gallery_type %}
						<option value="{{ key }}" selected="selected">{{ value }}</option>
						{% else %}
						<option value="{{ key }}">{{ value }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group s_img0">
				<label class="col-sm-2 control-label">{{ entry_include_additional_images }}</label>
				<div class="col-sm-10">
					<label class="radio-inline">
						{% if gallery_data['include_additional_images'] %}
						<input type="radio" name="gallery_data[include_additional_images]" value="1" checked="checked" />
						{{ text_yes }}
						{% else %}
						<input type="radio" name="gallery_data[include_additional_images]" value="1" />
						{{ text_yes }}
						{% endif %}
					</label>
					<label class="radio-inline">
						{% if not gallery_data['include_additional_images'] %}
						<input type="radio" name="gallery_data[include_additional_images]" value="0" checked="checked" />
						{{ text_no }}
						{% else %}
						<input type="radio" name="gallery_data[include_additional_images]" value="0" />
						{{ text_no }}
						{% endif %}
					</label>
				</div>
			</div>

			<div class="form-group required s_img0">
				<label class="col-sm-2 control-label">{{ entry_category_list }}</label>
				<div class="col-sm-10">
					<div class="well well-sm" style="height: 150px; overflow: auto;">
						{% for category in categories %}
						<div class="checkbox">
							<label>
								{% if category['category_id'] in gallery_data['gallery_categories'] %}
								<input type="checkbox" name="gallery_data[gallery_categories][]" value="{{ category['category_id'] }}" checked="checked" />
								{{ category['name'] }}
								{% else %}
								<input type="checkbox" name="gallery_data[gallery_categories][]" value="{{ category['category_id'] }}" />
								{{ category['name'] }}
								{% endif %}
							</label>
						</div>
						{% endfor %}
					</div>
				<a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a>
				{% if error_categories %}
				<div class="text-danger">{{ error_categories }}</div>
				{% endif %}
				</div>
			</div>

			<div class="form-group s_img1" id="image_checker">
				<label class="col-sm-2 control-label" for="image_checker_path"><span data-toggle="tooltip" title="{{ text_check_images_help }}">{{ text_check_images }}</span></span></label>
				<div class="col-sm-10">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="{{ DIR_IMAGE }}" value="{{ DIR_IMAGE }}" id="image_checker_path">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" id="image_checker_trigger">{{ button_text_check_images }}</button>
							</span>
						</div>
						<br>
				</div>
			</div>

			<div class="form-group s_img1">
				<label class="col-sm-2 control-label" for="gallery_data[gallery_directory]"><span data-toggle="tooltip" title="{{ entry_directory_help }}">{{ entry_directory }}</span></label>
				<div class="col-sm-10">
					<textarea name="gallery_data[gallery_directory]" rows="5" placeholder="{{ entry_directory }}" id="gallery_data[gallery_directory]" class="form-control">{{ gallery_data['gallery_directory'] }}</textarea>
				</div>
			</div>

			<div class="form-group s_img2" id="image_loader">
				<label class="col-sm-2 control-label" for="image_loader_path"><span data-toggle="tooltip" title="{{ text_load_images_help }}">{{ text_load_images }}</span></span></label>
				<div class="col-sm-10">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="{{ DIR_IMAGE }}" value="{{ DIR_IMAGE }}" id="image_loader_path">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button" id="image_loader_trigger">{{ button_text_load_images }}</button>
							</span>
						</div>
						<br>
				</div>
			</div>

			<div class="row col-sm-12 s_img2">
				<div class="grid_wrapper" id="sort_container">
				
				{% for additional_image in gallery_data['gallery_images'] %}
					<div class="additional_image transition thumbnail" id="image-row{{ additional_image['id'] }}">
						<span class="remove" title="{{ button_text_remove }}" onClick="$('#image-row{{ additional_image['id'] }}').remove();"><i class="fa fa-times fa-fw"></i></span>

						<!-- standart opencart image field -->

						<a href="#" id="thumb-image{{ additional_image['id'] }}" data-toggle="image" class="img-thumbnail{{ additional_image['id'] }}">
							<img src="{{ additional_image['thumb'] }}" data-placeholder="{{ no_image }}" />
						</a>
						<input type="hidden" name="gallery_data[gallery_images][{{ additional_image['id'] }}][image]" value="{{ additional_image['image'] }}" id="input-image{{ additional_image['id'] }}" />
						<input type="hidden" name="gallery_data[gallery_images][{{ additional_image['id'] }}][id]" value="{{ additional_image['id'] }}" />
						<!-- end standart opencart image field -->
						<br>
						{% for language in languages %}
							<div class="input-group input-group-sm col-sm-offset-1 col-sm-10">
								<span class="input-group-addon" id="sizing-addon1">{{ language['html_image'] }}</span>
								<input type="text" class="form-control" placeholder="{{ text_placeholder_description }}" name="gallery_data[gallery_images][{{ additional_image['id'] }}][description][{{ language['language_id'] }}]" value=" {{ additional_image['description'][language['language_id']] is defined ? additional_image['description'][language['language_id']] : '' }}">
							</div>
						{% endfor %}
					</div>
				{% endfor %}
				<div id="add_image_zone" style="" class="additional_image transition thumbnail sortable-ignore-elements" >
					<a onclick="addImage();" title="{{ button_text_add_image }}"><span class="fa fa-plus-square"></span></a>
				</div>

				</div>
			</div>

			</fieldset>
		</div>

			<div class="tab-pane " id="tab_data">
			<ul class="nav nav-tabs">
				{% for language in languages %}
				<li class="{{ language == languages|first ? 'active' : '' }}"><a href="#tab-{{ language['language_id'] }}" data-toggle="tab">{{ language['html_image'] }} {{ language['name'] }}</a></li>
				{% endfor %}
			</ul>
			<div class="tab-content">
			{% for language in languages %}
			<div class="tab-pane {{ language == languages|first ? 'active' : '' }}" id="tab-{{ language['language_id'] }}">

			<div class="form-group ">
				<label class="col-sm-2 control-label" for="gallery_data_gallery_title_{{ language['language_id'] }}">{{ entry_title }}</label>
				<div class="col-sm-10">
					<input type="text" name="gallery_data[gallery_title][{{ language['language_id'] }}]" value="{{ gallery_data['gallery_title'][language['language_id']] is defined ? gallery_data['gallery_title'][language['language_id']] : '' }}" placeholder="{{ entry_title }}" id="gallery_data_gallery_title_{{ language['language_id'] }}" class="form-control"/>
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label" for="gallery_data_gallery_h1_title_{{ language['language_id'] }}">{{ entry_h1 }}</label>
				<div class="col-sm-10">
					<input type="text" name="gallery_data[gallery_h1_title][{{ language['language_id'] }}]" value="{{ gallery_data['gallery_h1_title'][language['language_id']] is defined ? gallery_data['gallery_h1_title'][language['language_id']] : '' }}" placeholder="{{ entry_h1 }}" id="gallery_data_gallery_h1_title_{{ language['language_id'] }}" class="form-control" />
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label" for="gallery_data[gallery_meta_keywords][{{ language['language_id'] }}]">{{ entry_meta_keywords }}</label>
				<div class="col-sm-10">
					<input type="text" name="gallery_data_gallery_meta_keywords_{{ language['language_id'] }}_" value="{{ gallery_data['gallery_meta_keywords'][language['language_id']] is defined ? gallery_data['gallery_meta_keywords'][language['language_id']] : '' }}" placeholder="{{ entry_meta_keywords }}" id="gallery_data[gallery_meta_keywords][{{ language['language_id'] }}]" class="form-control" />
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label" for="gallery_data_gallery_meta_description_{{ language['language_id'] }}">{{ entry_meta_description }}</label>
				<div class="col-sm-10">
					<textarea name="gallery_data[gallery_meta_description][{{ language['language_id'] }}]" rows="5" placeholder="{{ entry_meta_description }}" id="gallery_data_gallery_meta_description_{{ language['language_id'] }}" class="form-control">{{ gallery_data['gallery_meta_description'][language['language_id']] is defined ? gallery_data['gallery_meta_description'][language['language_id']] : '' }}</textarea>
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-2 control-label" for="gallery_data_gallery_description_{{ language['language_id'] }}">{{ entry_description }}</label>
				<div class="col-sm-10">
					<textarea name="gallery_data[gallery_description][{{ language['language_id'] }}]" rows="5" placeholder="{{ entry_description }}" id="gallery_data_gallery_description_{{ language['language_id'] }}" class="form-control">{{ gallery_data['gallery_description'][language['language_id']] is defined ? gallery_data['gallery_description'][language['language_id']] : '' }}</textarea>
				</div>
			</div>
						</div>
				{% endfor %}

			</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script>
var image_row = {{ image_row }};

function addImage(image, thumb) {

	var image = (image === undefined) ? '' : image;
	var thumb = (thumb === undefined) ? '{{ no_image }}' : thumb;

	html = '<div class="additional_image transition thumbnail" id="image-row'+image_row+'">';
	html += '<span class="remove" title="{{ button_text_remove }}" onClick="$(\'#image-row'+image_row+'\').remove();"><i class="fa fa-times fa-fw"></i></span>';

	// standart opencart image field
	html += '<a href="#" id="thumb-image'+image_row+'" data-toggle="image" class="img-thumbnail'+image_row+'">';
	html += '<img src="' + thumb + '" data-placeholder="{{ no_image }}" />';
	html += '</a>';
	html += '<input type="hidden" name="gallery_data[gallery_images]['+image_row+'][image]" value="' + image + '" id="input-image'+image_row+'" />';
	html += '<input type="hidden" name="gallery_data[gallery_images]['+image_row+'][id]" value="'+image_row+'" /><br />';
	// end standart opencart image field
	{% for language in languages %}
	html += '<div class="input-group input-group-sm col-sm-offset-1 col-sm-10"><span class="input-group-addon" id="sizing-addon1">{{ language['html_image'] }}</span><input type="text" class="form-control" placeholder="{{ text_placeholder_description }}" name="gallery_data[gallery_images]['+image_row+'][description][{{ language['language_id'] }}]" value=""></div>';
	{% endfor %}
	html += '</div>';

	$('#add_image_zone').before(html);

	image_row++;
}

$(document).ready(function(){
	Sortable.create(sort_container, {
		filter: ".sortable-ignore-elements",
		animation: 150,
		handle : 'img'
	});

	$('#image_loader_trigger').on('click', function(){
		var btn = $(this).button('loading');

		$.ajax({
			url: 'index.php?route=gallery/gallery/loadImages&user_token={{ user_token }}',
			type: 'POST',
			dataType: 'json',
			data: {path: $('#image_loader_path').val()},
		})

		.success(function(data){
			console.log(data);
			if (data['success']) {
				$('#image_loader br').after('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + data['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				for (var i = data['files'].length - 1; i >= 0; i--) {
					addImage(data['files'][i]['image'], data['files'][i]['thumb']);
				};
			};

			if (data['warning']) {
				$('#image_loader br').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + data['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
		})

		.always(function(data) {
			btn.button('reset');
		});

	});
	$('#image_checker_trigger').on('click', function(){
		var btn = $(this).button('loading');

		$.ajax({
			url: 'index.php?route=gallery/gallery/checkImages&user_token={{ user_token }}',
			type: 'POST',
			dataType: 'json',
			data: {path: $('#image_checker_path').val()},
		})

		.success(function(data){
			console.log(data);
			if (data['success']) {
				$('#image_checker br').after('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + data['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			};

			if (data['warning']) {
				$('#image_checker br').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + data['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
		})

		.always(function(data) {
			btn.button('reset');
		});

	});

	$('#gallery_type').on('change', function(){
		switch (parseInt($(this).val())) {
		case 0:
			$('.s_img0').show();
			$('.s_img1, .s_img2').hide();
			break;
		case 1:
			$('.s_img1').show();
			$('.s_img0, .s_img2').hide();
			break;
		case 2:
			$('.s_img2').show();
			$('.s_img0, .s_img1').hide();
			break;
		default:
			$('.s_img0').show();
			$('.s_img1, .s_img2').hide();
			break;
		}
	});

	$('#gallery_type').trigger('change');

	{% for language in languages %}
	$('#gallery_data_gallery_description_{{ language['language_id'] }}').summernote({height: 300});
	{% endfor %}
});
</script>
{{ footer }}