{% if show_header %}
	<h3>{{ heading_title }}</h3>
{% endif %}
<div class="gallery">
	<div class="row">
		<div class="galleries col-sm-12 ">
			<script>
				$(document).ready(function() {
					{% if (gallery['js'] == 'colorbox') %}
						$('a.{{ gallery['key'] }}').colorbox({rel:'{{ no_conflict }}group{{ gallery['gallery_id'] }}'});
					{% endif %}

					{% if (gallery['js'] == 'fancybox') %}
						$('a.{{ gallery['key'] }}').fancybox({openEffect:'none',closeEffect:'none'});
					{% endif %}
					
					{% if (gallery['js'] == 'magnific_popup') %}
						$('.container_{{ gallery['key'] }}').magnificPopup({type:'image',delegate: 'a',gallery: {enabled:true}});
					{% endif %}
				});
			</script>
			{% if gallery['gallery_description'] is defined %}
				<div class="gallery_description">{{ gallery['gallery_description'] }}</div>
			{% endif %}
			<div class="center container_{{ gallery['key'] }}">
				{% for img_key, image in gallery['images'] %}
				<div class="{{ bootstrap_grid }} gallery_photo">
					<a class="transition thumbnail {{ gallery['key'] }}"  
					rel="{{ no_conflict }}group{{ gallery['gallery_id'] }}" 
					href="{{ image['popup'] }}" 
					{% if (gallery['js'] == 'lightbox') %}
					data-lightbox="{{ no_conflict }}{{ gallery['gallery_id'] }}" data-title="{{ image['title'] }}"
					{% endif %}
					title="{{ image['title'] }}">

						<img src="{{ image['thumb'] }}" width="{{ gallery_thumb_image_width }}" height="{{ gallery_thumb_image_height }}" alt="{{ image['title'] }}" />
						<span>{{ image['title'] }}</span>
					</a>
				</div>
			{% endfor %}
			</div>
			{% if show_gallery_link is defined %}
				<div class="row">
					<div class="col-sm-12">
						<div class="pull-right">
							<a href="{{ gallery['gallery_link'] }}" class="btn btn-default">{{ gallery_link_text }}</a>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>